In [3]:
### IMPORT
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from fanalysis.mca import MCA
%matplotlib inline
df = pd.read_sas('menage.sas7bdat')
pd.options.display.float_format = '{:0f}'.format
# Un peu du bricolage ici pour me dÃ©barasser de mes virgules
df.fillna(99999999, inplace=True)
dfs = df.astype(int)
dfs = dfs.astype(str)
dfs.replace('99999999', 'NaN', inplace=True)
dfs = dfs.drop('HV026', axis=1)
dfs = dfs.drop('HV202', axis=1)

,HHID,HV005,HV009,HV014,HV024,HV025,HV201,HV201A,HV204,HV205,...,HV219,HV220,HV221,HV225,HV226,HV227,HV228,HV230B,HV252,HV270A
0,10001,1050945,6,0,0,1,11,1,996,11,...,2,68,0,0,7,0,NaN,1,0,4
1,10002,1050945,2,0,0,1,12,0,996,22,...,1,29,0,1,7,1,NaN,1,0,4
2,10003,1050945,3,1,0,1,13,0,996,22,...,1,25,0,0,7,1,1,1,0,3
3,10004,1050945,8,0,0,1,14,1,996,22,...,2,40,0,1,7,1,NaN,1,0,4
4,10005,1050945,4,1,0,1,13,1,996,23,...,2,26,0,1,7,0,3,NaN,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19583,6970026,262303,10,4,3,2,43,NaN,5,23,...,1,38,0,1,8,1,2,NaN,0,2
19584,6970027,262303,6,1,3,2,21,0,160,96,...,2,40,0,1,8,0,3,NaN,0,2
19585,6970028,262303,2,0,3,2,21,0,10,23,...,2,52,0,1,7,1,NaN,1,0,3
19586,6970029,262303,3,0,3,2,21,0,10,23,...,2,38,0,1,8,0,NaN,NaN,0,1
19587,6970030,262303,6,2,3,2,21,0,30,96,...,2,38,0,1,8,1,1,NaN,0,5

In [2]:
### DOC de mes variables
doc_var = {
"var" : ['HHID', 'HV005', 'HV009', 'HV014', 'HV024', 'HV025', 'HV201', 'HV201A',
       'HV204', 'HV205', 'HV206', 'HV207', 'HV208', 'HV209', 'HV210', 'HV211',
       'HV212', 'HV213', 'HV214', 'HV215', 'HV216', 'HV217', 'HV218', 'HV219',
       'HV220', 'HV221', 'HV225', 'HV226', 'HV227', 'HV228', 'HV230B', 'HV252',
       'HV270A'],
       "description" : ["(id) Case Identification", "Household sample weight (6 decimals)",
       "Number of household members", "Number of children 5 and under (de jure)", "Region", "Type of place of residence",
       "Source of drinking water", "Water not available for at least a day last two", "Time to get to water source (minutes)",
       "Type of toilet facility", "Has electricity", "Has radio", "Has television", "Has refrigerator", "Has bicycle",
       "Has motorcycle/scooter", "Has car/truck", "Main floor material", "Main wall material", "Main roof material", 
       "Number of rooms used for sleeping", "Relationship structure", "Line number of head of household", 
       "Sex of head of household", "Age of head of household", "Has telephone (land-line)", "Share toilet with other households",
       "Type of cooking fuel", "Has mosquito bed net for sleeping", "Children under 5 slept under mosquito bed net",
       "Presence of water at hand washing place", "Frequency household members smoke inside the household", 
       "Wealth index for urban/rural"]
}
doc = pd.DataFrame(doc_var)
doc.set_index('var', inplace=True)
# EXPORT
doc.to_csv('doc_var.csv', encoding='utf-8')

In [5]:
# Formatage des modalitÃ©s de mes variables
dfs['HV024']=dfs['HV024'].str.replace("0", "Kampala")
dfs['HV024']=dfs['HV024'].str.replace("1", "Central 1")
dfs['HV024']=dfs['HV024'].str.replace("2", "Central 2")
dfs['HV024']=dfs['HV024'].str.replace("3", "Busoga")
dfs['HV024']=dfs['HV024'].str.replace("4", "Bukedi")
dfs['HV024']=dfs['HV024'].str.replace("5", "Bugishu")
dfs['HV024']=dfs['HV024'].str.replace("6", "Teso")
dfs['HV024']=dfs['HV024'].str.replace("7", "Karamoja")
dfs['HV024']=dfs['HV024'].str.replace("8", "Lango")
dfs['HV024']=dfs['HV024'].str.replace("9", "Acholi")
dfs['HV024']=dfs['HV024'].str.replace("10", "West Nile")
dfs['HV024']=dfs['HV024'].str.replace("11", "Bunyoro")
dfs['HV024']=dfs['HV024'].str.replace("12", "Tooro")
dfs['HV024']=dfs['HV024'].str.replace("13", "Ankole")
dfs['HV024']=dfs['HV024'].str.replace("14", "Kigezi")
###
dfs['HV025'] = dfs['HV025'].str.replace('1', 'Urban')
dfs['HV025'] = dfs['HV025'].str.replace('2', 'Rural')
###
# dfs['HV026']=dfs['HV026'].str.replace("0", "Capital, large city")
# dfs['HV026']=dfs['HV026'].str.replace("1", "Small city")
# dfs['HV026']=dfs['HV026'].str.replace("2", "Town")
# dfs['HV026']=dfs['HV026'].str.replace("3", "Countryside")
###
dfs['HV201'] = dfs['HV201'].str.replace("10", "Piped")
dfs['HV201'] = dfs['HV201'].str.replace("11", "Piped")
dfs['HV201'] = dfs['HV201'].str.replace("12", "Piped")
dfs['HV201'] = dfs['HV201'].str.replace("13", "Piped")
dfs['HV201'] = dfs['HV201'].str.replace("14", "Piped")
dfs['HV201'] = dfs['HV201'].str.replace("20", "Piped")
dfs['HV201'] = dfs['HV201'].str.replace("21", "Piped")
dfs['HV201'] = dfs['HV201'].str.replace("30", "Piped")
dfs['HV201'] = dfs['HV201'].str.replace("31", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("32", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("40", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("41", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("42", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("43", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("51", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("61", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("62", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("63", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("71", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("72", "Open,tanks or other")
dfs['HV201'] = dfs['HV201'].str.replace("96", "Open,tanks or other")
###
# dfs['HV202'] = dfs['HV202'].str.replace("10", "Piped")
# dfs['HV202'] = dfs['HV202'].str.replace("11", "Piped")
# dfs['HV202'] = dfs['HV202'].str.replace("12", "Piped")
# dfs['HV202'] = dfs['HV202'].str.replace("13", "Piped")
# dfs['HV202'] = dfs['HV202'].str.replace("14", "Piped")
# dfs['HV202'] = dfs['HV202'].str.replace("20", "Piped")
# dfs['HV202'] = dfs['HV202'].str.replace("21", "Piped")
# dfs['HV202'] = dfs['HV202'].str.replace("30", "Piped")
# dfs['HV202'] = dfs['HV202'].str.replace("31", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("32", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("40", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("41", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("42", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("43", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("51", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("61", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("62", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("63", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("71", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("72", "Open, tanks or other")
# dfs['HV202'] = dfs['HV202'].str.replace("96", "Open, tanks or other")
###
dfs['HV201A'] = dfs['HV201A'].str.replace("0" , "No, not interrupted for a full day")
dfs['HV201A'] = dfs['HV201A'].str.replace("1" , "Yes, interrupted for a full day or more")
dfs['HV201A'] = dfs['HV201A'].str.replace("8" , "Don't know")
###
dfs['HV204']=dfs['HV204'].str.replace("996" , "On premises")
dfs['HV204']=dfs['HV204'].str.replace("998" , "Don't know")
###
dfs['HV205']=dfs['HV205'].str.replace("10", "Flush")
dfs['HV205']=dfs['HV205'].str.replace("11", "Flush")
dfs['HV205']=dfs['HV205'].str.replace("12", "Flush")
dfs['HV205']=dfs['HV205'].str.replace("13", "Flush")
dfs['HV205']=dfs['HV205'].str.replace("14", "Flush")
dfs['HV205']=dfs['HV205'].str.replace("15", "Flush")
dfs['HV205']=dfs['HV205'].str.replace("20", "Pit")
dfs['HV205']=dfs['HV205'].str.replace("21", "Pit")
dfs['HV205']=dfs['HV205'].str.replace("22", "Pit")
dfs['HV205']=dfs['HV205'].str.replace("23", "Pit")
dfs['HV205']=dfs['HV205'].str.replace("30", "Other")
dfs['HV205']=dfs['HV205'].str.replace("31", "Other")
dfs['HV205']=dfs['HV205'].str.replace("41", "Other")
dfs['HV205']=dfs['HV205'].str.replace("42", "Other")
dfs['HV205']=dfs['HV205'].str.replace("43", "Other")
dfs['HV205']=dfs['HV205'].str.replace("96", "Other")
###
dfs['HV213']=dfs['HV213'].str.replace("10" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("11" , "Earth/Sand")
dfs['HV213']=dfs['HV213'].str.replace("12" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("20" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("21" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("22" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("30" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("31" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("32" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("33" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("34" , "Cement screed")
dfs['HV213']=dfs['HV213'].str.replace("35" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("36" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("37" , "Dung and other")
dfs['HV213']=dfs['HV213'].str.replace("96" , "Dung and other")
###
dfs['HV214']=dfs['HV214'].str.replace("10", "Other")
dfs['HV214']=dfs['HV214'].str.replace("11", "Other")
dfs['HV214']=dfs['HV214'].str.replace("12", "Other")
dfs['HV214']=dfs['HV214'].str.replace("13", "Other")
dfs['HV214']=dfs['HV214'].str.replace("20", "Other")
dfs['HV214']=dfs['HV214'].str.replace("21", "Poles with mud")
dfs['HV214']=dfs['HV214'].str.replace("22", "Other")
dfs['HV214']=dfs['HV214'].str.replace("23", "Bricks")
dfs['HV214']=dfs['HV214'].str.replace("24", "Other")
dfs['HV214']=dfs['HV214'].str.replace("25", "Other")
dfs['HV214']=dfs['HV214'].str.replace("26", "Other")
dfs['HV214']=dfs['HV214'].str.replace("27", "Bricks")
dfs['HV214']=dfs['HV214'].str.replace("28", "Bricks")
dfs['HV214']=dfs['HV214'].str.replace("30", "Other")
dfs['HV214']=dfs['HV214'].str.replace("31", "Cement")
dfs['HV214']=dfs['HV214'].str.replace("32", "Cement")
dfs['HV214']=dfs['HV214'].str.replace("33", "Cement")
dfs['HV214']=dfs['HV214'].str.replace("34", "Cement")
dfs['HV214']=dfs['HV214'].str.replace("35", "Cement")
dfs['HV214']=dfs['HV214'].str.replace("36", "Other")
dfs['HV214']=dfs['HV214'].str.replace("96", "Other")
###
dfs['HV215']=dfs['HV215'].str.replace("10", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("11", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("12", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("13", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("20", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("21", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("22", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("23", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("24", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("25", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("30", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("31", "Iron sheets")
dfs['HV215']=dfs['HV215'].str.replace("32", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("33", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("34", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("35", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("36", "Thatch/palm/leaf and other")
dfs['HV215']=dfs['HV215'].str.replace("96", "Thatch/palm/leaf and other")
###
dfs['HV219']=dfs['HV219'].str.replace("1", "Male")
dfs['HV219']=dfs['HV219'].str.replace("2", "Female")
###
dfs['HV226']=dfs['HV226'].str.replace("1", "Other")
dfs['HV226']=dfs['HV226'].str.replace("2", "Other")
dfs['HV226']=dfs['HV226'].str.replace("4", "Other")
dfs['HV226']=dfs['HV226'].str.replace("5", "Other")
dfs['HV226']=dfs['HV226'].str.replace("7", "Charcoal")
dfs['HV226']=dfs['HV226'].str.replace("8", "Wood")
dfs['HV226']=dfs['HV226'].str.replace("9", "Other")
dfs['HV226']=dfs['HV226'].str.replace("10", "Other")
dfs['HV226']=dfs['HV226'].str.replace("11", "Other")
dfs['HV226']=dfs['HV226'].str.replace("95", "Other")
dfs['HV226']=dfs['HV226'].str.replace("96", "Other")
###
dfs['HV226']=dfs['HV226'].str.replace("Other0", "Other")
dfs['HV226']=dfs['HV226'].str.replace("Other6", "Other")
dfs['HV226']=dfs['HV226'].str.replace("OtherOther", "Other")
###
dfs['HV228']=dfs['HV228'].str.replace("0", "No")
dfs['HV228']=dfs['HV228'].str.replace("1", "All children")
dfs['HV228']=dfs['HV228'].str.replace("2", "Some children")
dfs['HV228']=dfs['HV228'].str.replace("3", "No net in household")
###
dfs['HV252']=dfs['HV252'].str.replace("0", "Never")
dfs['HV252']=dfs['HV252'].str.replace("1", "Daily")
dfs['HV252']=dfs['HV252'].str.replace("2", "Weekly")
dfs['HV252']=dfs['HV252'].str.replace("3", "Monthly")
dfs['HV252']=dfs['HV252'].str.replace("4", "Less than once a month")
###
dfs['HV270A']=dfs['HV270A'].str.replace("1", "Poorest")
dfs['HV270A']=dfs['HV270A'].str.replace("2", "Poorer")
dfs['HV270A']=dfs['HV270A'].str.replace("3", "Middle")
dfs['HV270A']=dfs['HV270A'].str.replace("4", "Richer")
dfs['HV270A']=dfs['HV270A'].str.replace("5", "Richest")
###
dfs['HV217']=dfs['HV217'].str.replace("0", "No adults")
dfs['HV217']=dfs['HV217'].str.replace("1", "One adult")
dfs['HV217']=dfs['HV217'].str.replace("2", "Two adults, opposite sex")
dfs['HV217']=dfs['HV217'].str.replace("3", "Two adults, same sex")
dfs['HV217']=dfs['HV217'].str.replace("4", "Three+ related adults")
dfs['HV217']=dfs['HV217'].str.replace("5", "Unrelated adults")
dfs

,HHID,HV005,HV009,HV014,HV024,HV025,HV201,HV201A,HV204,HV205,...,HV219,HV220,HV221,HV225,HV226,HV227,HV228,HV230B,HV252,HV270A
0,10001,1050945,6,0,Kampala,Urban,Piped,"Yes, interrupted for a full day or more",On premises,Flush,...,Female,68,0,0,Charcoal,0,NaN,1,Never,Richer
1,10002,1050945,2,0,Kampala,Urban,Piped,"No, not interrupted for a full day",On premises,Pit,...,Male,29,0,1,Charcoal,1,NaN,1,Never,Richer
2,10003,1050945,3,1,Kampala,Urban,Piped,"No, not interrupted for a full day",On premises,Pit,...,Male,25,0,0,Charcoal,1,All children,1,Never,Middle
3,10004,1050945,8,0,Kampala,Urban,Piped,"Yes, interrupted for a full day or more",On premises,Pit,...,Female,40,0,1,Charcoal,1,NaN,1,Never,Richer
4,10005,1050945,4,1,Kampala,Urban,Piped,"Yes, interrupted for a full day or more",On premises,Pit,...,Female,26,0,1,Charcoal,0,No net in household,NaN,Never,Middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19583,6970026,262303,10,4,Busoga,Rural,"Open,tanks or other",NaN,5,Pit,...,Male,38,0,1,Wood,1,Some children,NaN,Never,Poorer
19584,6970027,262303,6,1,Busoga,Rural,Piped,"No, not interrupted for a full day",160,Other,...,Female,40,0,1,Wood,0,No net in household,NaN,Never,Poorer
19585,6970028,262303,2,0,Busoga,Rural,Piped,"No, not interrupted for a full day",10,Pit,...,Female,52,0,1,Charcoal,1,NaN,1,Never,Middle
19586,6970029,262303,3,0,Busoga,Rural,Piped,"No, not interrupted for a full day",10,Pit,...,Female,38,0,1,Wood,0,NaN,NaN,Never,Poorest
19587,6970030,262303,6,2,Busoga,Rural,Piped,"No, not interrupted for a full day",30,Other,...,Female,38,0,1,Wood,1,All children,NaN,Never,Richest

In [7]:
### TABLE CATEGORIELLE
dfc = dfs.astype('category')
dfc['HV252'] = pd.Categorical(dfc['HV252'],['Never', 'Less than once a month', 
                                            'Monthly', 'Weekly', 'Daily'],ordered=True)
# dfc['HV026'] = pd.Categorical(dfc['HV026'],
#                             ['Countryside', 'Town', 'Small city', 'Capital, large city'],
#                             ordered=True)
dfc['HV252'] = pd.Categorical(dfc['HV252'],['Never', 'Less than once a month', 'Monthly', 'Weekly', 'Daily'],
                              ordered=True)
dfc

,HHID,HV005,HV009,HV014,HV024,HV025,HV201,HV201A,HV204,HV205,...,HV219,HV220,HV221,HV225,HV226,HV227,HV228,HV230B,HV252,HV270A
0,10001,1050945,6,0,Kampala,Urban,Piped,"Yes, interrupted for a full day or more",On premises,Flush,...,Female,68,0,0,Charcoal,0,NaN,1,Never,Richer
1,10002,1050945,2,0,Kampala,Urban,Piped,"No, not interrupted for a full day",On premises,Pit,...,Male,29,0,1,Charcoal,1,NaN,1,Never,Richer
2,10003,1050945,3,1,Kampala,Urban,Piped,"No, not interrupted for a full day",On premises,Pit,...,Male,25,0,0,Charcoal,1,All children,1,Never,Middle
3,10004,1050945,8,0,Kampala,Urban,Piped,"Yes, interrupted for a full day or more",On premises,Pit,...,Female,40,0,1,Charcoal,1,NaN,1,Never,Richer
4,10005,1050945,4,1,Kampala,Urban,Piped,"Yes, interrupted for a full day or more",On premises,Pit,...,Female,26,0,1,Charcoal,0,No net in household,NaN,Never,Middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19583,6970026,262303,10,4,Busoga,Rural,"Open,tanks or other",NaN,5,Pit,...,Male,38,0,1,Wood,1,Some children,NaN,Never,Poorer
19584,6970027,262303,6,1,Busoga,Rural,Piped,"No, not interrupted for a full day",160,Other,...,Female,40,0,1,Wood,0,No net in household,NaN,Never,Poorer
19585,6970028,262303,2,0,Busoga,Rural,Piped,"No, not interrupted for a full day",10,Pit,...,Female,52,0,1,Charcoal,1,NaN,1,Never,Middle
19586,6970029,262303,3,0,Busoga,Rural,Piped,"No, not interrupted for a full day",10,Pit,...,Female,38,0,1,Wood,0,NaN,NaN,Never,Poorest
19587,6970030,262303,6,2,Busoga,Rural,Piped,"No, not interrupted for a full day",30,Other,...,Female,38,0,1,Wood,1,All children,NaN,Never,Richest

In [8]:
# EXPORT
dfc.to_csv('mini_projet.csv', encoding='utf-8')